*{
    padding: 0;
    margin: 0;
}

.main{
    box-shadow: 1px 1px 5px grey;
    width: 800px;
    border-radius: 30px;
    height: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .in-box{
        box-shadow: 0px 0px 2px gray;
        width: 400px;
        height: 300px;
        border-radius: 10px;
    }

    .buttons{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        // border: 1px solid;
        font-size: 13px;
        font-weight: bold;
        font-family: 'Century Gothic';
        button{
            border: none;
            padding: 5px;
            border: 1px solid grey;
            border-radius: 5px;
        }
    }
}

